# --- General ---
.env
.env.*
*.env

# --- Python / FastAPI Backend ---
/backend/venv/
/backend/__pycache__/
/backend/.pytest_cache/
/backend/.vscode/

/frontend/
# --- React / Node Frontend ---
/new-frontend/node_modules/
/new-frontend/build/
/new-frontend/.pnp.*
/new-frontend/.npm
/new-frontend/npm-debug.log*
/new-frontend/yarn-debug.log*
/new-frontend/yarn-error.log*

# --- IDE / OS Files ---
.vscode/
.idea/
.DS_Store